html,
body,
header,
section,
article,
footer,
nav,
button,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
blockquote,
textarea,
p,
tr,
th,
td,
object,
table,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Microsoft YaHei', 'SimSun', sans-serif;
    font-size: 100%;
    height: 100%;
    color: #fff;
    box-sizing: border-box;
}
.login{
    background: url("../img/login-background.png") no-repeat scroll;
    height: 768px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 670px;
    height: 320px;
    position: relative;
}
.login-item{
    width: 476px;
    margin: 30px auto;
}
.login-item span{
    display: inline-block;
    font-size: 24px;
    color: #1c6bfd;
    width: 100px;
}
.login-btn{
    width: 476px;
    margin: 30px auto;
}
.login-btn button{
    width: 150px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #ffffff;
    background-color: #1c6bfd;
    margin-right: 52px;
    margin-left: 100px;
    border: none;
    cursor: pointer;
}
.login-btn button:last-child{
    margin-right: 0;
    margin-left: 0
}
.login-input{
    width: 330px;
    height: 60px;
    font-size: 20px;
    background-color: #00071e;
    border: solid 1px #142766;
    opacity: 0.7;
    color: #ffffff;
    padding: 0 10px;
}
.loading{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    padding-top: 20%;
}
.loading img{
    width: 100px;
    height: 100px;
}
.main{
    background: url("../img/background.png") no-repeat scroll;
    width: 1366px;
    height: 768px;
    overflow: hidden;
    position: relative;
    transform-origin: top left;
    background-size: 100% 100%;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-img{
    margin-top: 10px;
}
.title{
    background: url("../img/title-background.png") no-repeat scroll;
    width: 542px;
    height: 78px;
    line-height: 57px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 413px;
    display: flex;
    justify-content: center;
}
.header-time{
    font-size: 16px;
    position: absolute;
    left: 263px;
    top: 33px;
}
.user-avatar{
    padding-top: 10px;
    padding-right: 10px;
}
.user-avatar img{
    width: 28px;
    height: 28px;
    border-radius: 28px;
}
.user-title{
    font-size: 23px;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 40px 56px 0  93px;
}
.left{
    width: 265px;
}
.user-info{
    position: relative;
    border: 1px solid #4574d6;
    box-shadow: inset 0 0 60px 0 rgba(1, 9, 96, 0.5);
    padding: 16px 20px;
    margin-bottom: 22px;
}
.user-info-title{
    text-align: center;
    font-size: 16px;
    color: #6bdcff;
    margin-bottom: 15px;
}
.angle{
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid #00fcf9;
}
.angle-left-top{
    left: -1px;
    top: -1px;
    border-right: none;
    border-bottom: none;
}
.angle-right-top{
    right: -1px;
    top: -1px;
    border-left: none;
    border-bottom: none;
}
.angle-right-bottom{
    right: -1px;
    bottom: -1px;
    border-left: none;
    border-top: none;
}
.angle-left-bottom{
    left: -1px;
    bottom: -1px;
    border-right: none;
    border-top: none;
}
.center{
    width: 530px;
}
.right{
    width: 340px;
}
.user-info-key{
    width: 97px;
    height: 19px;
    border: 1px solid #2c5987;
    margin-right: 6px;
    margin-bottom: 6px;
    text-align: right;
    font-size: 12px;
    padding: 0 16px;
}
.user-info-value{
    width: 125px;
    height: 19px;
    border: 1px solid #2c5987;
    margin-bottom: 6px;
    text-align: left;
    font-size: 12px;
    padding: 0 14px;
}
.user-charm{
    position: relative;
    border: 1px solid #4574d6;
    box-shadow: inset 0 0 60px 0 rgba(1, 9, 96, 0.5);
    padding: 22px 20px;
    margin-bottom: 29px;
}
.user-charm-item {
    border: solid 1px #ffae01;
    margin-bottom: 17px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    line-height: 33px;
}
.user-charm-item:last-child{
    margin-bottom: 0;
}
.user-charm-title{
    height: 12px;
    font-size: 12px;
}
.jue-power{
    font-size: 16px;
    color: #ffa201;
}
.user-contribution{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.user-contribution-circle{
    background-image: url("../img/contribution.png");
    background-size: 100% 100%;
    width: 90px;
    height: 80px;
    border-radius: 90px;
    text-align: center;
    padding-top: 9px;
    -webkit-transform: rotate(360deg);
    animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -webkit-animation: rotation 8s linear infinite;
    -o-animation: rotation 8s linear infinite;
    position: relative;
}

.user-contribution-item{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
    margin-left: 5px;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 2;
}
.user-contribution-bottom{
    margin-top: 10px;
    width: 90px;
    text-align: center;
    font-size: 14px;
    color: #6bdcff;
}
.footer{
    background: url("../img/footer.png") no-repeat scroll;
    background-size: 100% 100%;
    width: 1366px;
    height: 176px;
    position: absolute;
    bottom: 0;
    opacity: 0.59;
}
.user-img{
    background: url("../img/user-background.png") no-repeat scroll;
    background-size: 617px 439px;
    background-position: -15px 59px;
    width: 607px;
    height: 606px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.user{
    position: relative;
    top:15px;
    z-index: 3;
}
.user-bottom{
    position: relative;
    z-index: 1;
    bottom: 155px;
}
.user-top{
    position: relative;
    border: 1px solid #4574d6;
    box-shadow: inset 0 0 60px 0 rgba(1, 9, 96, 0.5);
    padding: 22px 20px;
    margin-bottom: 29px;
}
.user-top-select{
    width: 225px;
    margin: 0 auto 15px auto;
}
.user-top-select select{
    width: 100%;
    height: 33px;
    padding: 0 14px;
    font-size: 16px;
    background-color: #06377a;
    border: 1px solid  #17509b;
    color: #6bdcff;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;   /*去除chrome浏览器的默认下拉图片*/
    -moz-appearance: none;  /*去除Firefox浏览器的默认下拉图片*/
    background: url("../img/pull.svg") no-repeat right center;
}
.user-top-select select:focus{
    outline: none;
}
#user-top-chart{
    height: 240px;
    width: 300px;
}
.user-level{
    position: relative;
    z-index: 3;
    border: 1px solid #4574d6;
    box-shadow: inset 0 0 60px 0 rgba(1, 9, 96, 0.5);
    padding: 22px 20px;
}
.user-level-title{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #6bdcff;
}
#user-level-chart{
    height: 129px;
    width: 300px;
}
.user-level-val{
    position: absolute;
    color: #032760;
    top: 169px;
    right: 270px;
    z-index: 4;
}
